/* 共通 css */
:root {
    --nav-bg-color: #121212;
    --hover-bg-color: #3C3636;
    --main-font-color: #ffffff;
    --second-font-color: #000000;
}
* {
    box-sizing: border-box;
    color: var(--main-font-color);
}
body {
    font-family: "Poppins", sans-serif;
    margin: unset;
}
img {
    display: block;
}
h2, ul {
    margin: unset;
    padding: unset;
}
h2 {
    font-weight: 600;
    font-size: 26px;
    line-height: 5.38;
    color: var(--second-font-color);
    text-align: center;
}

/* 狭い画面向けの既定の CSS レイアウト値 */
nav {
    background-color: var(--nav-bg-color);
}
nav > div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1000px;
    margin: 0 auto;
}
details {
    width: 100%;
    text-align: center;
    position: relative;
}
summary, li {
    font-weight: 400;
    font-size: 14px;
    line-height: 3.5;
    color: var(--main-font-color);
    list-style: none;
    cursor: pointer;
}
summary:hover,
details[open] summary {
    background-color: var(--hover-bg-color);
}
ul {
    position: absolute;
    left: 0;
    right: 0;
    background-color: var(--hover-bg-color);
}

/* 広い画面向けの CSS */
@media (min-width: 600px) {
}
